{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
<h1>Liste des clients</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.ville }}</td>
                <td>
                    <a href="/client/{{ client.id }}" class="btn btn-info btn-sm">Voir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
